<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206883213986-a0hdjdalip157odl4ti6ar7g2rgf0qod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206883213986-a0hdjdalip157odl4ti6ar7g2rgf0qod</string>
	<key>API_KEY</key>
	<string>AIzaSyCziZOi3J4H6xSbII-HOwUH3Pujw9SQ8Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>206883213986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DIMA.dox</string>
	<key>PROJECT_ID</key>
	<string>docsmanager-d4666</string>
	<key>STORAGE_BUCKET</key>
	<string>docsmanager-d4666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206883213986:ios:287b4fd1976587932cbdfb</string>
	<key>DATABASE_URL</key>
	<string>https://docsmanager-d4666-default-rtdb.firebaseio.com</string>
</dict>
</plist>